[target.thumbv7em-none-eabihf]
runner = "gdb-multiarch -q"
rustflags = [
    "-C", "link-arg=-Tlink.x", "-C", "opt-level=2"
]

[build]
target = "thumbv7em-none-eabihf" # Cortex-M4F and Cortex-M7F (with FPU)
